{% extends 'registration/reg_base.html' %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<form class="form-signin" action="." method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-success" role="alert">
            <strong>Чтобы сбросить пароль, введите ваш email, привязанный к вашей учетной записи.</strong>
        </div>
    {% endif %}
    {{ form.email.errors }}
    <label for="{{ form.email.id_for_label }}" class="sr-only">Email:</label>
    <input type="text" class="form-control" name="{{ form.email.html_name }}" id="{{ form.email.auto_id }}" placeholder="Email" maxlength="254" autofocus required/>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Сбросить</button>
</form>
{% endblock %}