/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {

}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin: 0 auto;
  width: 170px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}
/* Profile box */
#profile-box {
    text-align: center;
    margin: 35px 0 50px;
    padding: 0 15px;
}
#profile-box h5 {
    margin-top: .5rem;
}
#profile-box img {
    height: 100px;
    width: 100px;
}
/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/* Card */
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.card {
  margin-bottom: 1rem;
}
.card-date {
  color: #ffffff;
  width: 100px;
  height: 100px;
  text-align: center;
}
.card-date .year {
  font-size: .7rem;
}
.card-date .day {
  font-size: 2rem;
}
.card-date .month {

}
.card-homework {

}