{% if not students and not teachers %}
    <div class="container">
        <div class="alert alert-danger mt-3">Your account is not in any group. Say Sunny to add you in a group. Otherwise you won't see your menu</div>
    </div>
{% endif %}
{% if students %}
    <!-- START Mobile Menu -->
	<div class="sm-user hidden-md-up">
		<a href="#" id="toggle-m-menu"><i class="fa fa-bars"></i></a>
		<a href="{% url 'student_home' %}" class="sm-user-img"><img src="{{ MEDIA_URL }}{{ user.student.pic }}" alt="avatar" class="img-fluid"></a>
		<a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out"></i></a>
	</div>
    <!-- END Mobile Menu -->

	<!-- START TOP MENU -->
	<div class="top-menu hidden-sm-down">
		<a href="{% url 'student_home' %}" class="btn-home"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a>
		<nav class="cl-effect-21">
            <a class="nav-link" href="{% url 'student_lessons' %}">Занятия</a>
            <a class="nav-link" href="{% url 'student_books' %}">Литература</a>
            <a class="nav-link" href="{% url 'student_top' %}">Рейтинги</a>
		</nav>
		<div class="tm-user">
			<a href="#" class="tm-user-wrp" id="profile-link">
				<span class="tm-arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				<img src="{{ MEDIA_URL }}{{ user.student.pic }}" alt="avatar" class="tm-user-img">
			</a>
			<div class="tm-user-dropdown" id="profile-dropdown">
				<a href="{% url 'student_page' user.username %}"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i> Моя страница</a>
				<a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Настройки</a>
				<a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Выход</a>
			</div>
		</div>
	</div>
	<!-- END TOP MENU -->
{% endif %}
{% if teachers %}
    <!-- START Mobile Menu -->
	<div class="sm-user hidden-md-up">
		<a href="#" id="toggle-m-menu"><i class="fa fa-bars"></i></a>
		<a href="{% url 'teacher_home' %}" class="sm-user-img"><img src="{{ MEDIA_URL }}{{ user.teacher.pic }}" alt="avatar" class="img-fluid"></a>
		<a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out"></i></a>
	</div>
    <!-- END Mobile Menu -->

	<!-- START TOP MENU -->
	<div class="top-menu hidden-sm-down">
		<a href="{% url 'teacher_home' %}" class="btn-home"><i class="fa fa-home fa-fw" aria-hidden="true"></i></a>
		<ul class="nav">
			<li class="nav-item">
				<a class="nav-link" href="#">Занятия</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">Литература</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'student_top' %}">Рейтинги</a>
			</li>
		</ul>
		<div class="tm-user">
			<a href="#" class="tm-user-wrp" id="profile-link">
				<span class="tm-arrow"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
				<img src="{{ MEDIA_URL }}{{ user.teacher.pic }}" alt="avatar" class="tm-user-img">
			</a>
			<div class="tm-user-dropdown" id="profile-dropdown">
				<a href="{% url 'teacher_page' user.username %}"><i class="fa fa-user-circle fa-fw" aria-hidden="true"></i> Моя страница</a>
				<a href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> Настройки</a>
				<a href="{% url 'auth_logout' %}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i> Выход</a>
			</div>
		</div>
	</div>
	<!-- END TOP MENU -->
{% endif %}