{% extends 'sunny/base.html' %}
{% block content %}
    {% if values %}
        <p><strong>Всего посещений:</strong> {{ values.count }} <strong>Из них на 5:</strong> {{ high_value_count }} <strong>Молодецность:</strong> {{ molodec }}%</p>
        <ul>
        {% for value in values %}
            <li><strong>Дата:</strong> {{ value.date }} <strong>Оценка:</strong> {{ value.value }} <strong>Комментарий:</strong> {{ value.comm }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <strong>Нет оценок!</strong>
    {% endif %}
{% endblock %}