{% if students %}
<!-- START slide menu -->
<div off-canvas="m-menu left shift">
    <div class="sb-nav">
        <span class="btn-close"><i class="fa fa-times"></i></span>
        <div class="sb-wrp">
            <div class="btns-slidebar">
                <a href="{% url 'student_page' user.username %}"><i class="fa fa-user"></i></a>
                <a href=""><i class="fa fa-cog"></i></a>
            </div>
            <ul>
                <li><a href="{% url 'student_lessons' %}">Занятия</a></li>
                <li><a href="{% url 'student_books' %}">Литература</a></li>
                <li><a href="{% url 'student_top' %}">Рейтинги</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END slide menu -->
{% endif %}

{% if teachers %}
<!-- START slide menu -->
<div off-canvas="m-menu left shift">
    <div class="sb-nav">
        <span class="btn-close"><i class="fa fa-times"></i></span>
        <div class="sb-wrp">
            <div class="btns-slidebar">
                <a href=""><i class="fa fa-user"></i></a>
                <a href=""><i class="fa fa-cog"></i></a>
            </div>
            <ul>
                <li><a href="#">Занятия</a></li>
                <li><a href="#">Литература</a></li>
                <li><a href="#">Рейтинги</a></li>
            </ul>
        </div>
    </div>
</div>
<!-- END slide menu -->
{% endif %}